.Adminback{
    background-image:url("https://assets.nationbuilder.com/afacwa/pages/52/meta_images/original/drf-fb.png?1614022306");
     background-size:cover;
    background-attachment: fixed;
    height:85vh;

     
}
.logout
{
  position:absolute;
  left:45%;
  font-size:xx-large;
}
* .buttonn{
  position:absolute;
  left:45%;
  top:130%;
  color:white;
  background-color: rgb(7, 7 ,7);
} 
.dashboard-container {
    background-color: rgb(7, 7, 7);
    color: white;
    width: 150px;
    height:100%;
    position:absolute;
    top:20%;
  }
  
  header {
    background-color:rgb(7, 7, 7);
    padding: 20px;
    /* text-align: center; */
  }
  
  .sidebar-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* .widget {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  } */
  
  .widget-title1 a{
    color: white;
    position:absolute;
    left:2%;
    top:15%;
    text-decoration: none;
    font-weight: bold;
  }
  .widget-title2 a{
    color: white;
    position:absolute;
    left:3%;
    top:25%;
    text-decoration: none;
    font-weight: bold;

    
  }
  .widget-title3 a{
    color: white;
    position:absolute;
    left:3%;
    top:34%;
    text-decoration: none;
    font-weight: bold;
  }
  .widget-title4 a{
    color: white;
    position:absolute;
    left:3%;
    top:43%;
    text-decoration: none;
    font-weight: bold;
  }
  
  .widget-title5 a{
    color: white;
    position:absolute;
    left:3%;
    top:52%;
    text-decoration: none;
    font-weight: bold;
  }